{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="site-title">Un message pour Naito?</h1>
    {% for message in app.session.flashbag.get('error') %}
        <div class="error-message">Error: {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="success-message">{{ message }}</div>
    {% endfor %}
    <div class="send-form">
        <form action="{{ path('registerMessage') }}" method="POST">
            <div class="form-group">
                <label for="name">Votre pseudo</label>
                <input type="text" name="pseudo" id="name" placeholder="Pseudo" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="content">Votre message</label>
                <textarea name="content" id="content" placeholder="Chère Naito..." autocomplete="off" required></textarea>
                <small>Vous n'êtes bien sûr pas obligé de commencer avec "Chère Naito..." XD</small>
            </div>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
{% endblock %}
