<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Lindsay Sunshine{% block title %}{% endblock %}</title>
        <link rel="icon" href="https://em-content.zobj.net/source/microsoft-teams/363/rainbow_1f308.png">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('/style/root.css') }}">
        <link rel="stylesheet" href="{{ asset('/style/form.css') }}">
        <link rel="stylesheet" href="{{ asset('/style/messages.css') }}">
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
